<body>
    <div class="topnav" id="myTopnav">
        <span class="active">
            <img src="./images/mf.png" alt="" height='50px' width='50px'>
            MovieFrenzy</span>
        <a href="#hollywood">HollyWood</a>
        <a href="#bollywood">BollyWood</a>
        <a href="#series">Series</a>
        <a href="#contact">Contact us</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>